{% extends "blog/post.html" %}
{% load blog_tags %}

{% block title %}
    <title>MongushAB Blog</title>
{% endblock %}

{% block post_content %}

    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}

    {% for post in posts %}
        <!-- Project Card 1-->
        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
            <div class="card-body p-0">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                    <div class="p-5">
                        <h2 class="fw-bolder">
                            <a href="{{ post.get_absolute_url }}">
                                {{ post.title }}
                            </a>
                        </h2>
                        <p class="tags">
                            Tags: 
                            {% for tag in post.tags.all %}
                                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                    {{ tag.name }}
                                </a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p class="date">
                            Published {{ post.publish }} by {{ post.author }}
                        </p>
                        {{ post.body|markdown|truncatewords_html:30 }}
                    </div>
                    
                </div>
            </div>
        </div>

        
    {% endfor %}
    {% include 'pagination.html' with page=page_obj %}
{% endblock %}
